.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    margin-left:20px;
}

.btn.btn-secondary{
    height: 50px;
    width: 70px;
    font-size: 10px;
    text-align: center;
}

.green {
    background-color: rgb(75, 165, 75);
  }
  
.red {
    background-color: rgba(196, 56, 13, 0.849);
}

.mycustom {
    border: solid 1px green;
    position: relative;
    }
    .mycustom input[type=text] {
        border: none;
        width: 100%;
        padding-right: 123px;
    }
    .mycustom .input-group-prepend {
        position: absolute;
        right: 4px;
        top: 4px;
        bottom: 4px;z-index:9;
}