<div class="container background h-100  ">
    <div class=" row h-100  " style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
        <div class="input-group col-sm-12 my-auto ">
            <input  class="form-control input-lg mx-auto" [(ngModel)]="phrase" type="text" placeholder="search" value="{{voiceService.text}}" id="form1">
            <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="search()">Send</button>
                <button class="btn-circle btn-md" (click)="startListen()" [ngClass]="{'green' : speak, 'red': !speak}">
                    <fa-icon [icon]="faMicrophoneLines"  transform="grow-8" styaria-hidden="true"></fa-icon>
                </button>                
            </span>
        </div>
    </div>


</div>

<!-- <div class="center-screen" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
    I'm in the center
</div> -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>